{% extends "base.html" %}

{% block content %}
    <h1>Search : {{ user.username }}!</h1>
    {% for post in posts %}
    <div>
        <p>
            <b>Recipe Name : {{ post.recipe }}</b><br>
            <b>Ingredients : {{ post.ingredients }}</b><br>
            <b>Method : {{ post.method }}</b><br>
            <b>Book ID : {{ post.bookid }}</b><br>
            <b>URL : {{ post.url }}</b><br>
            <b>Title : {{ post.title }}</b><br>
        </p>
    </div>
    {% endfor %}
{% endblock %}